#eFiltr .sec-filter__body.active{height:auto;}
.item-checkbox sup {
    font-size: 11px;
    color: #888888;
    margin: 3px 0 0 5px;
}
.main-about__content h2{margin-bottom: 40px;}
.main-about__content p{font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    padding-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
}
.main-about__content p:before{
    content: "";
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
    width: 16px;
    height: 13px;
    background: url(../img/icons/check.svg) center no-repeat;
    margin-right: 20px;
}
@media screen and (max-width: 1285.98px) {
    .main-about__content p {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }
}
@media screen and (max-width: 992.98px) {
    .sidebar {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 900px) {
    .main-about__content p {
        font-size: 14px;
        line-height: 16px;
    }
    .main-about__content h2{text-align: center;margin-bottom: 30px;}
}
@media screen and (max-width: 576.98px) {
    .main-about__content p {
        padding: 0 20px 0 8px;
        font-size: 14px;
        line-height: 16px;
    }
    .main-about__content h2{margin-bottom: 20px;}
}


